html, body {
    height:100%;
    margin:0;
    overflow-x:hidden;
  }
.headerSection {
    width:100%;
    height:100px;
    /*padding:50px;*/
    background-color: #ff6f61;
  }
.searchSection{
    position: relative;
    left:50%;
    transform: translateX(-50%);
    margin-top:1%;
    margin-bottom:1%;
    width:30%;
    border:2px solid #f2f2f2;
    border-radius:100px;
    background-color: #f2f2f2;
  }
.search_bar{
    border:none;
    background-color: #f2f2f2;
    padding:1% 25%;
    margin-left:3%;
    margin-top:-3%;
  }
.searchButton{
    background-color: #f2f2f2;
    border: transparent;
    margin-top:1%;
  }
  