.album_cover {
    background-image: url(./photos/album_chungA.png), 
    url(./photos/IU.png), 
    url(./photos/bigbang.jpg), 
    url(./photos/윤딴딴.jpg);
    /*background-size: 1px 1px;*/
    width: 100px;
    height: 100px;

}
/*.chungA_2{
    background-image: url(./chungA_2.png);
}*/
/*tr{
    background : 
}*/